<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Todo
body

    h3 Edit todo
    form(action="/update/" + todo.id + "?_method=PUT" method="POST")
        input(type="text" name="title" placeholder="title" value=todo.title)

        
        br
        button(type="submit") Update

    