<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title ToDo

body
    h3 Add todo

    form
    form(action="/" method="POST")
        input(type="text" name="title" placeholder="title")
        
        - if (typeof(err) !== 'undefined'){
            each val in err
                span= val.msg
        -}
        br
        button(type="submit") Submit

    each todo in todos
        span= todo.title   
        form(action="/edit/" + todo.id)     
            button(type="submit") Edit 
        form(action="/delete/" + todo.id method="POST")     
            button(type="submit") Delete
    